<section>
</section>


{% schema %}
    {
        "name": "The Banner",
        "settings": [
            {
                "type": "header",
                "content": "Topbar"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Announcement Text",
                "default": "Some text here"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "button",
                "label": "Button label",
                "default": "Click Here"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            },
            {
                "type": "select",
                "id": "button_style",
                "label": "Button Style",
                "options": [
                    {
                        "label": "Primary Button",
                        "value": "primary"
                    },
                    {
                        "label": "Secondary Button",
                        "value": "secondary"
                    }
                ],
                "default": "primary"
            }
        ],
        "presets": [
            {
                "name": "The Banner"
            }
        ]
    }
{% endschema %}
