<section class="the-grid">
    <div class="page-width">
        {% if section.settings.tite != blank %}
            <h2>{{ section.settings.tite }}</h2>
        {% endif %}
    </div>
</section>
{% schema %}

{
    "name": "The Grid",
    "settings": [],
    "blocks": [
        {
            "type": "product_card",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "label": "Select Product",
                    "id": "card_product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "The Grid"
        }
    ]
}

{% endschema %}
