<section>
</section>


{% schema %}
    {
        "name": "The Banner",
        "settings": [
            {
                "type": "header",
                "content": "Topbar"
            }
        ],
        "presets": [
            {
                "name": "The Banner"
            }
        ]
    }
{% endschema %}
