body{
    font-family: 'Jost', sans-serif;
    color: #000000;
}
.is-flex{
    display: flex;
    flex-wrap: wrap;
}
.is-align-middle{
    align-items: center;
}
.is-justify-space-between{
    justify-content: space-between;
}

span.btn-icon svg {
    display: block;
    height: 100%;
    width: 100%;
}

span.btn-icon {
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    margin-left: 10px;
}

.btn.btn--primary:before,
.btn.btn--secondary:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000;
    z-index: 1;
}

.btn.btn.btn--primary:before {
    background-color: #fff544;
}

.btn.btn--primary:hover:before {
    width: 100%;
}
.btn.btn--primary > span.btn-label{
    transition-delay: .2s;
}
.btn.btn--primary:hover > span.btn-label{
    color: #fff;
}

.btn.btn--secondary:hover > span.btn-label{
    color: #000;
}

.btn.btn--primary span.btn-icon svg path,
.btn.btn--primary > span.btn-label,
.btn.btn--primary:before {
    transition: .4s all ease-in-out;
}

.btn.btn--primary:hover span.btn-icon svg path{
    fill: #fff;
}

.btn.btn--secondary span.btn-icon svg path{
    fill: #fff;
}


.btn.btn--secondary:hover span.btn-icon svg path{
    fill: #000;
}

.btn {
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.btn > span{
    position: relative;
    z-index: 2;
}
.btn.btn--primary {
    background: #FFF544;
    color: #000;
}

.btn.btn--secondary {
    background: #000;
    color: #fff;
}

.top-bar {
    background: #F5F5F5;
}

.note p {
    margin: 0;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 13.42px;
    text-align: center;
}

.shop-logo img {
    display: block;
    object-fit: contain;
}

.top-bar-inner {
    padding: 10px 0;
}

.the-banner-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.the-banner-content {
    height: calc(92vh -  64px);
    position: relative;
}

.the-banner-wrapper {
    height: 100%;
}

.the-banner-text {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    padding: 30px;
    padding-left: 5rem;
    padding-bottom: 50px;
}

.the-banner-text h2 {
    font-family: Jost;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
}

.banner_content {
    max-width: 490px;
    margin-bottom: 50px;
}

.banner_content p{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 0;
}
.banner_content p:not(:last-child){
    margin-bottom: 0;
}

.bottom_note p {
    margin: 0;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}

.bottom_note {
    background: #F5F5F5;
    padding: 10px;
}

section.the-banner .page-width {
    max-width: 100%;
}

body:not(.is-loaded) > *{
    filter: blur(.5px);
}
